<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTNeAY54dKueyTh4Mufcw2_cauJZCyxJM</string>
	<key>GCM_SENDER_ID</key>
	<string>697365825456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.clean.arc</string>
	<key>PROJECT_ID</key>
	<string>fluttercleanarc-e46b1</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttercleanarc-e46b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697365825456:ios:43e17b0e0ad8ded271f875</string>
</dict>
</plist>